h1 My WeatherApp

h2 Temperatures
div#temperature
  canvas

h2 Pressure
div#pressure
  canvas

= render 'shared/js_noon_marks'
= render 'shared/js_temperature_marks'
= render 'shared/js_temperature_scales'
= render 'shared/js_pressure_marks'
= render 'shared/js_pressure_scales'
