#temperature, #pressure
  padding-left: 35px
  position: relative

  span
    color: #999
    font-family: monospace
    font-size: 8pt
    letter-spacing: -1px
    line-height: 3px
    position: absolute
